<div class="panel shadow center flex flex-column">
  <strong class="divider txt-large margin-block-end">People on the account</strong>
  <%= render "accounts/invite" %>

  <div class="flex flex-column" data-controller="filter">
    <div class="pad">
      <input placeholder="Filter…" class="input input--transparent full-width" type="search" autocorrect="off" autocomplete="off" data-1p-ignore="true" data-filter-target="input" data-action="input->filter#filter">
    </div>

    <div data-filter-target="list" class="users-list flex flex-column gap">
      <%= render partial: "accounts/user", collection: users %>
    </div>
  </div>
</div>
