<div class="cards__list" data-drag-drop-item-container>
  <div class="blank-slate blank-slate--drag card card--hide-unless-empty">
    <p>Drag cards here</p>
  </div>
  <div class="blank-slate blank-slate--empty card--hide-unless-empty">No cards here</div>
</div>
