<%= turbo_frame_tag "terminal" do %>
  <div class="terminal full-width flex flex-column gap justify-end" data-controller="toggle-class" data-toggle-class-toggle-class="terminal--open">
    <menu class="terminal__menu flex-column txt-align-start margin-none margin-block-end unpad">
      <%= render partial: "event", collection: @events %>   
    </menu>
    
    <%= turbo_frame_tag "terminal_form" do %>
      <%= link_to edit_terminal_path, class: "terminal__link flex align-center gap-half" do %>
        <span class="terminal__label txt-nowrap">Fizzy do &gt;</span>
        <span class="terminal__input input fill-transparent unpad">Search or type commands…</span>
      <% end %>
    <% end %>
  </div>
<% end %>