<% filter = user_filtering.filter %>

<div class="filters__manage gap-half">
  <%= link_to root_path, class: "btn btn--remove txt-x-small", data: { controller: "hotkey tooltip", action: "keydown.esc@document->hotkey#click"} do %>
    <%= icon_tag "close" %>
    <span class="for-screen-reader">Clear all</span>
  <% end %>
</div>
